.mainTitle {
  position: relative;

  &:after {
    height: 2px;
    width: 50px;
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: -5px;
    background-color: #fa923c;
  }
}